<p>
    <mat-toolbar class="bg-color">
      <span class="logo" [routerLink]="['/home']"><img style="width: 1.2em;" class="main-img" [src]="logo" alt="Building Image"></span>
      <span class="pr-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" [routerLink]="['/home']" aria-label="Example icon-button with heart icon">
        <mat-icon>home</mat-icon>
      </button>
      <button mat-icon-button class="example-icon favorite-icon" (click)="navigateToAbout()" aria-label="Example icon-button with heart icon">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" [routerLink]="['/contact']" aria-label="Example icon-button with share icon">
        <mat-icon >phone</mat-icon>
      </button>
    </mat-toolbar>
  </p>