<p>
    <mat-toolbar class="bg-color">
      <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button> -->
      <span class="logo" [routerLink]="['/home']">NP13</span>
      <span class="pr-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" (click)="navigateToAbout()" aria-label="Example icon-button with heart icon">
        <mat-icon>info</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon >share</mat-icon>
      </button>
    </mat-toolbar>
  </p>