<div class="h100"><app-headnavs></app-headnavs>
  <!-- <div class="container text-center">
    <h1>About Us</h1>
    <p>Team NP13</p>
</div> -->

  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="leftBox">
          <img class="main-img" [src]="aboutus" alt="About Us">
        </div>
      </div>
      <div class="col-md-6">
        <div class="rightBox">
          <h1>This Is Our Story.</h1>
          <br>
          <p>Nestled in the heart of Dehradun, Paperbird is more than a brand; it's a narrative of creating extraordinary
            moments. Our story is etched with threads of creativity, precision, and a dedication to personalized
            experiences. Specializing in crafting bespoke invitations and user-friendly interfaces, we've redefined
            event planning in the city. Our journey is a tapestry of turning visions into reality, curating timeless
            elegance for intimate gatherings and grand celebrations alike. Join us in Dehradun, where each event becomes
            a chapter in Paperbird's narrative of excellence. Let Paperbird be the storyteller of your memorable
            occasions, making your story truly exceptional.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>