
.main-img {

}
button{
    border-radius: 5px;
    width: 10em;
    height: 4em;
    border: 2px var(--white) solid;
    background-color: var(--darker-grey-green);
    color: var(--white);
}
button:hover{
    border: 2px var(--darker-grey-green) solid;
    color: var(--darker-grey-green);
    background-color: var(--white);
}

h1{
    font-weight: 600;
}



