<app-headnavs></app-headnavs>
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6">
          <div class="rightBox">
            <h1>THE FUTURE OF ADVERTISEMENT &nbsp;</h1>
            <br>
            <h2>Why pay when you can <span class="green">#drinkfree</span></h2>
            <br>
            <p>In a crowded digital landscape where ad blindness and oversaturation are prevalent, we offer a unique, engaging, and personalized approach to connect with your audience. Our water bottle canvases and QR code integration set us apart. In a world where consumers are inundated with ads, Drinkfree offers a refreshing and unmissable way for brands to stand out and make a lasting impact. We're not just advertising; we're a brand's opportunity to be in every hand, delivering tailored messages and exclusive offers <span class="green">directly to consumers</span>.</p>
            <br>
            <button>Advertise with us</button>
          </div>
        </div>
        <div class="col-md-6">
          <div class="leftBox">
            <img class="main-img" [src]="buildings" alt="Building Image">
          </div>
        </div>
      </div>
</div>
<app-footer></app-footer>