<div class="h100">
  <app-headnavs></app-headnavs>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="rightBox">
          <h1>We are more than a digital studio from Dehradun.</h1>
          <br>
          <p>Elevate your experience with custom invitations and a user-friendly interface that dances to your tune. Our
            chic design ensures a seamless, tailored journey—your satisfaction, our encore! Join the rhythm of
            convenience and style, where every detail grooves to your unique beat. <br>Let's make memories, effortlessly
          </p>
          <br>
          <button [routerLink]="['/contact']">Connect with us</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="leftBox">
          <img class="main-img" [src]="buildings" alt="Building Image">
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>